<%= turbo_frame_tag current_user do %>
  <div class="mb-8 animatecss animatecss-bounceIn alert alert-success text-white">Your profile is complete</div>
  <div>
    Here's what I know about you:
    <ul class="mt-4">
      <li class="leading-8">Your name is <strong><%= current_user.name %>.</strong></li>
      <li class="leading-8">You are <strong><%= current_user.age %> years old.</strong></li>
      <li class="leading-8">You live in <strong><%= current_user.country %>.</strong></li>
      <li class="leading-8">Your address is <strong><%= current_user.address %>, <%= current_user.city %>, <%= current_user.zip %></strong></li>
      <li class="leading-8">Your email is <strong><%= current_user.email %></strong></li>
      <li class="leading-8">About you:<br /><strong><%= current_user.bio %></strong></li>
    </ul>
  </div>
<% end %>
